:root {
  --azul-escuro: #033D60;
  --azul: #416C86;
  --branco: #fff;
  --preto: #000;
  --cinza: #D2D6DE;
  --cinza-escuro: #858497;

  --font-serif: verdana, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}
*, html, body{
    margin: 0;
    padding: 0;
}

.headerIndex{
    box-sizing: border-box;
    background-color: var(--cinza);
    color: var(--azul-escuro);

    text-align: center;
    font-family: var(--font-serif);

    padding: 20px 0px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
.headerIndex>section>h1{
    font-size: 2em;
    margin: 4px;
}
.headerIndex>section>p{
    font-size: 0.95em;
}


main>section>h1{
    color: var(--azul-escuro);
    font-size: 1.65em;

    margin: 20px auto;
    text-align: center;
}

section.topHinos{
    width: calc(100vw - 24px);
    height: 250px;
    margin: 20px 12px;
}
.td{
    width: calc((100vw - 40px) / 5);
    text-align: center;
}


section#nuncaPedidos{
    width: calc(100vw - 24px);
    height: 100px;
    margin: 20px 12px;
}
section#nuncaPedidos>div{
    display: flex;
}

section#nuncaPedidos>div>p{
    margin: auto;
}